<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TeamManager</title>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Graduate&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
      integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/public/assets/css/home.css" type="text/css" />

    <link
      rel="stylesheet"
      href="/public/assets/css/roster.css"
      type="text/css"
    />

    {{! <link rel="stylesheet" href="/public/assets/css/score.css" type="text/css" /> }}

  </head>

  <body id="soccerball">

    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <span class="navbar-brand mb-0 h2 fbmanage">
          <i class="fas fa-futbol fa-sm" style="color:black;"></i>
          FOOTBALL MANAGER
        </span>
      </div>
    </nav>

    {{! <nav class="navbar fixed-top navbar-expand-lg navbar-light navbar-custom"> }}

    {{! <i class="fas fa-futbol fa-2x" style="color:black;"></i> }}

    {{! <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> }}

    {{! <i class="fas fa-bars fa-lg"></i> }}
    {{! </button> }}

    {{! <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto"> }}
    {{! <a class="navbar-brand" href="/roster">ROSTER</a> }}
    {{! <a class="navbar-brand" href="/score">SCORE</a> }}
    {{! <a class="navbar-brand" href="/home">HOME</a> }}
    {{! <a class="navbar-brand" href="/thankyou">EXIT</a> }}
    {{! </ul>
        </div> }}

    {{! </nav> }}

    {{! <div class="colorstripA"></div>
    <div class="colorstripB"></div>
    <div class="colorstripC"></div>
    <div class="colorstripD"></div> }}

    {{{body}}}

    <script src="anime.min.js"></script>
    <script>

        anime({

            targets: '.fbmanage',
            translateX: 250

        })


    </script>


    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <script src="/public/assets/js/welcome.js"></script>
    <script src="/public/assets/js/roster.js"></script>
    {{! <script src="/public/assets/js/scoreboard.js"></script> }}

  </body>

</html>