<div class="container instructions d-flex flex-column justify-content-center align-items-center">
 

  <h3 class="text-black manager">Welcome Team Manager</h3>
  

  <p>
    <button class="btn tips" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"
      aria-controls="collapseExample">
      How it Works
    </button>
  </p>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      <ul class="text-black">
        <li>Add players to player pool</li>
        <br />
        <li>Generate teams (players randomly sorted)</li>
        <br />
        <li>Keep track of the score</li>
      </ul>
    </div>
  </div>

  
  <a href="/roster"><button type="button" class="btn start">
      Lets get started!
    </button></a>
</div>

