<div class="container instructions d-flex flex-column justify-content-center align-items-center">
  <h1 id="maintitle">The Kickball Summer Classic</h1>

  <h3 class="text-black manager">Welcome Kickball Manager,</h3>
  <p class="text-black" style="text-align: center">
    Here to help you set up and organize your teams.
  </p>

  <p>
    <button class="btn tips" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"
      aria-controls="collapseExample">
      How it Works
    </button>
  </p>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      <ul class="text-black">
        <li>Add players to player pool</li>
        <br />
        <li>Generate teams (players randomly sorted)</li>
        <br />
        <li>Keep track of the score</li>
      </ul>
    </div>
  </div>

  <h5 class="text-black begin">Lets get started,</h5>
  <a href="/roster"><button type="button" class="btn btn-success start">
      Add Players
    </button></a>
</div>