<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-3 align-items-center">

            <h5 id="addplayer">Add Player</h5>
            <form id="roster-form" method="POST">
                <input type="text" placeholder="Player Name" name="roster-player" id="roster-creation" />
            </form>


            <p id="numplayers"># of Players: <span id="player-count">0</span></p>

            <button type="button" class="btn col-12" id="randomteams">
                Generate Teams
            </button>

            <button type="button" class="btn btn-outline-dark clear">Clear Players</button>



        </div>

        <div class="col-md-3 ">

            <h4 id="title">Player Pool</h4>

            <ol id="roster-list"></ol>

        </div>



        <div class="col col-md-3 ">
            <div class="row">
                <div class="col borderres">

                    <h4 id="team1" class="zenter">Team 1</h4>

                    <ol id="teamone-list"></ol>


                </div>

            </div>
            <div class="row">
                <div class="col borderres">


                    <h4 id="team2" class="zenter">Team 2</h4>

                    <ol id="teamtwo-list"></ol>


                </div>
            </div>
        </div>



        <div class="col-md-3  borderres">

            <h4 id="freeagent" class="zenter">Free Agent</h4>

            <ol id="loneplayer"></ol>

        </div>

    </div>
</div>