<div class="container text-black" style="text-align: center;">
    <div class="row space teams">
        <div class="col-6 rightborderteam">
            <h3>Team 1</h3>
        </div>

        <div class="col-6">
            <h3>Team 2</h3>
        </div>
    </div>

    <div class="row space digits">
        <div class="col-6 rightborder">
            <p class="font leftnumber">0</p>
        </div>

        <div class="col-6">
            <p class="font rightnumber">0</p>
        </div>
    </div>

    <div class="row space select">
        <div class="col-5 leftselect">


            <input type="radio" name="winning" id="team1" value="yes " />


        </div>

        <div class="col-2">

            <div class="btn-group-vertical" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-dark btn-lg plus add">+</button>

                <button type="button" class="btn btn-dark btn-lg minus subtract">-</button>
            </div>



        </div>

        <div class="col-5 rightselect">


            <input type="radio" id="team2" name="winning" value="no" />


        </div>
    </div>
    <button type="button" class="btn btn-outline-dark clear">Clear Scores</button>
</div>