<div class="container instructions d-flex flex-column justify-content-center align-items-center">
 

  <h3 class="text-black manager">See ya nex time!</h3>
  

  
  <a href="/welcome"><button type="button" class="btn start">
      Log in
    </button></a>
</div>