#soccerball {
  background-image: url("/public/assets/images/blackball.jpg");
  background-attachment: fixed;
  background-size:100% 100%;
  background-repeat:no-repeat;
 background-size: cover;
 background-position:center center;
}
.navbar {
  background-color: white;
  /* border-bottom: 3px solid #faf73f; */
}

.navbar-light .navbar-toggler {
  border-color: transparent;
}

.fa-bars {
  color: black;
}
.colorstripA {
  margin-top: 50px;

  border: black solid 6px;
}
.colorstripB {
  border: red solid 6px;
}
.colorstripC {
  border: orange solid 6px;
}
.colorstripD {
  border: yellow solid 6px;
}


#maintitle {
  color: white;

  font-size: 1em;
  text-align: center;
}

.instructions {
  margin-top: 4vh;
  background-color: white;

  width: 100%;
}
.manager {
  margin-top: 8vh;
  text-align: center;
  color:white;
  font-weight:700;
}

.tips {
  margin-top: 2vh;
  border: 1px solid black;

  color: black;
  background-color: white;
  width: 180px;
}
.tips:hover {
  background-color: black;
  color: white;

  border: 1px solid white;
}
.collapse {
  margin-bottom: 1 vh;
}
.start {
  margin-top: 1vh;
  margin-bottom: 4vh;
  border: 1px solid black;
  color: black;
  background-color: #faf73f;
  width: 180px;
}
.start:hover {
  background-color: white;
  color: black;

  border: 1px solid black;
}
.begin {
  margin-top: 1vh;
  margin-bottom: 2vh;
}
