body {

  background-color: black;

}



#Footballmanager {

  color: yellow;

}

.container {
  cursor: default;
  background-color: transparent;
  margin-top: 12vh;
}

@media screen and (max-width: 450px) {
  .container {
    margin-top: 6vh;
  }
}



.content1 {
  display: none;
  margin-bottom: 45px;
}
.content2 {
  display: none;
  margin-bottom: 45px;
}

#title {
  color: #faf73f;

  font-size: 20px;
  text-align: center;
}

#addplayer {
  text-align: center;
  color: white;
}

#roster-form {
  text-align: center;
}

#messi{
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

#rosterTitle {
  text-align: center;
  color: white;
}
#rostername-form {
  text-align: center;

  margin-bottom: 20px;
}
input {
  border: solid 1.5px black;
  width: 65%;
  border-radius: 10px;
  height: 35px;
  text-align: center;
}
input[type="text"] {
  background-color: white;
  color: black;
}

#numplayers {
  margin-top: 10px;
  color: white;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

#roster-list {
  font-size: 25px;
  list-style: none;

  color: white;

  margin-left: 25px;
}

#whitebreak {
  border: 10px solid #5cb85c;
  width: 100%;
}

#randomteams {
  text-align: center;
  color: black;

  background-color: #faf73f;

  width: 60%;
  margin-left: 20%;
  margin-bottom: 40px;

  border: 1.5px solid white;
}

#randomteams:hover {
  background-color: white;
  color: black;

  border: 2px solid #faf73f;
}

#saveteams {
  color: white;

  background-color: #ffbb00;

  width: 60%;
  margin-left: 20%;
}

#saveteams:hover {
  background-color: white;
  color: black;

  border: 1.5px solid black;
}

#button-row {
  margin-top: 20px;
  text-align: center;
}

.clear1 {
  margin-top: 40px;
  text-align: center;
  margin-bottom: 70px;
  color: white;
  background-color: rgb(221, 25, 19);
  width: 60%;
  margin-left: 20%;

  border: 1.5px solid white;
}

.clear1:hover {
  background-color: white;
  color: black;

  border: 2px solid rgb(221, 25, 19);
}

.zenter {
  font-size: 20px;

  text-align: center;
  color: #faf73f;
}

ol {
  list-style: none;
  font-size: larger;
  color: white;
  font-size: 25px;

  padding-inline-start: 10px;

  text-align: center;
}

#levelteams {

margin-top: 5vh;


}

@media screen and (max-width: 450px) {
  #levelteams {
    margin-top: 0;
  }
}