body {
  background: white;
}
.navbar{
  background-color: black;
  border-bottom: 3px solid #f0ad4e;
}


.container {
  cursor: default;
  background-color: black;
}
#maintitle {
  margin-top: 12vh;
  color: #55ac55;
  font-family: "Pacifico", cursive;
  font-size: 4.5em;
  text-align: center;
  -webkit-text-stroke-width: 2.0px;
  -webkit-text-stroke-color: black;
}

.instructions {
    margin-top: 4vh;
    background-color: white;

    width: 100%;


}
.manager{
    margin-top:2vh;
    text-align: center;
}

.tips{
  margin-top: 2vh;
  border: 2px solid white;
  background-color:#f0ad4e;
  color: white;

}
.tips:hover{
  background-color:white;
  color:black;
  border: 2.5px solid #f0ad4e;

}
.collapse {
  margin-bottom: 1 vh;
}
.start{
    margin-top: 1vh;
    margin-bottom: 4vh;
    border: 2px solid white;
    color: white;
   
}
.start:hover{
  background-color:white;
  color:black;
  border: 2.5px solid #5cb85c;

}
.begin{
    margin-top: 1vh;
    margin-bottom: 2vh;
}